.gradient-background {
  background: linear-gradient(300deg, #85c6e2, #efe9ea, #6fb3ee);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

{
  margin :0;
  padding :0;
  box-sizing: border-box;
}

body{
  background-color: aliceblue;
}

.slide{
  height :100%px;
  width:180px;
  position :absolute;
  background-color: aliceblue;


}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

ul li{
  list-style: none;
}

ul li a{
  color:darkblue;
  font-weight: 500;
  padding: 5px 0;
  display:block;
  text-decoration: none;
  transition:0.2s ease-out;
}

ul li a i{
  width: 40px;
  text-align: center;
}